@charset "UTF-8";

@import 'scss/animator.scss';

* {
	box-sizing: border-box;
	font-size: 16px;
}

html, body {
	// font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	color: black;
	margin: 0px;
	background-color: white;
}

header {
	font-size: 13px;
}

footer {
	margin-left: 20px;

	.pdf_special#author {
		position: relative;
		text-align: right;
		padding-right: 22px;
		margin: 0;
		line-height: 1;
	}
}

img {
              user-select: none;
	      -ms-user-select: none;
	     -moz-user-select: -moz-none;
       -khtml-user-select: none;
	  -webkit-user-select: none;
	-webkit-touch-callout: none;

	&:focus {
		outline: 0;
	}
}

button, .button {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	background-color: #cf7c0f;
	color: white;
	padding: 6px 12px;
	line-height: 1.6;
	border-radius: 4px;
	border: 1px solid transparent;

	&:hover {
		background-color: #e4a859;
	}

	&:active{
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	}

	&:disabled {
		cursor: not-allowed;
		background-color: #b8b8b8;
		color: #666666;
	}

	* {
		display: inline-block;
	}
}

button.new_sheet, .button.new_sheet {
	@extend button;
	background-color: #126912;

	&:hover {
		background-color: #57a757;
	}
}

button#remove_sheet, .button#remove_sheet {
	@extend button;
	background-color: #790000;

	&:hover {
		background-color: #ff2323;
	}

	&:disabled {
		background-color: #646464;
		color: #cfcfcf;
	}
}

.tool_switch_small_screen{
	display: none;
}

div#content_wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 0;

	div#tool_box{
		position: fixed;
		width: 220px;
		margin: 30px 10px;
		z-index: 10;
		
		ul#tool_list{
			padding: 4px;
			border-radius: 4px;
			border: 1px solid gray;
			list-style: none;
	
			li {
				margin: 4px;
	
				&.separator {
					width: 100%;
					height: 3px;
					margin: 0.8em 0;
					padding: 0;
					background-color: gray;
				}
	
				&>button, &>.button {
					width: 100%;
				}
	
				&>#copyLink, &>#remove_sheet {
					width: auto;
				}
	
				input[type=text]{
					width: 153px;
					font-size: 14px;
					background-color: white;
					border-radius: 4px;
					border: 1px solid gray;
				}
	
				&#display_url, &#display_remove {
					display: none;
				}
			}
		}
	}
	
	div#render_space {
		margin-left: 239px;

		&.rendering {
			width: 796px;
		}

		article#contents {
			position: relative;
			width: 746px;
			max-width: 100%;
			height: 1081px;
			margin-left: 18px;
			@include applyTransit();

			&:focus {
				outline: 0;
			}

			* {
				position: absolute;
			}

			/***************************************************************************************************
			 * テキストエリア
			 */
			textarea {
				resize: none;
				background-color: transparent;
				font-size: 12px;
				overflow: auto;
				padding: 0px;
				border: none;
			}

			/***************************************************************************************************
			 * セレクトボックス
			 */
			select {
				text-align: -webkit-center;
				-webkit-appearance: menulist-textfield;
				-moz-appearance: menulist-textfield;
				appearance: menulist-textfield;
				background-color: transparent;
				text-indent: .01px; /* Firefox用 */
				text-overflow: ""; /* Firefox用 */
				border: none;
			}
			select:hover {
				-webkit-appearance: menulist;
				-moz-appearance: menulist;
				appearance: menulist;
			}
			select::-ms-expand {
				display: none;
			}
			.font-big {
				font-size: 27px;
				height: 38px;
			}
			.font-small {
				font-size: 18px;
				height: 28px;
			}

			/***************************************************************************************************
			 * チェックボックス
			 */
			.checkbox {
				display: block;
				width: 27px;
				height: 27px;
				background-size: 27px 27px;
			}

			.checkbox.unchecked {
				background-color: transparent;
			}

			.checkbox.checked {
				background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="0.9in" height="0.9in" viewBox="0 0 81 81"%3E%3Cpath fill="black" d="M 16.91,2.45 C 5.18,9.53 12.97,20.51 13.14,20.76 12.98,20.91 6.03,28.11 3.87,33.89 1.71,39.67 -0.81,49.03 3.43,58.04 11.65,75.53 41.44,75.55 45.57,52.67 47.43,42.44 37.42,37.84 31.59,41.08 27.21,43.50 27.42,49.94 24.87,51.09 22.52,52.15 20.48,49.49 20.20,47.52 19.39,41.87 25.62,35.30 30.44,33.37 38.38,30.15 46.66,32.88 51.35,40.00 54.91,45.42 54.82,52.71 51.65,58.37 49.53,62.17 43.77,65.91 45.36,72.29 47.04,79.07 55.44,80.55 61.07,77.23 67.43,73.46 71.61,64.43 72.90,57.31 74.95,46.00 73.01,38.56 71.86,36.00 73.31,34.48 82.68,24.34 76.36,17.31 68.45,18.05 64.31,20.47 60.79,20.97 47.57,10.72 33.42,12.07 28.53,12.73 23.37,9.62 22.89,5.82 16.91,2.45 Z" /%3E%3C/svg%3E');
			}

			/***************************************************************************************************
			 * 名前
			 */
			#name {
				top: 66px;
				left: 96px;
				width: 174px;
			}

			/***************************************************************************************************
			 * イメージ
			 */
			#image_div {
				top: 105px;
				left: 40px;
				width: 270px;
				height: 270px;
				background-color: transparent;
				color: black;
				display: -webkit-flex;
				display: flex;
				-webkit-align-items: center;
				align-items: center;
				-webkit-justify-content: center;
				justify-content: center;
				overflow: hidden;

				span {
					-moz-user-select: none;
					-webkit-user-select: none;
					-ms-user-select: none;

					border: 1px solid darkgray;
					border-radius: 6px;
					box-shadow: 3px 3px #666;

					position: absolute;
					top: 0px; left: 17px; right: 0px; bottom: 0px;

					font-size: 12px;
					padding: 6px;
					margin: auto;
					width: 11.0rem; height: 7em;

					display: -webkit-flex;
					display: flex;
					-webkit-align-items: center;
					align-items: center;
					-webkit-justify-content: center;
					justify-content: center;

					&:hover {
						background-color: #ffe;
					}

				}

				#thumb {
					left: 0px;
					top: 0px;
				}
			}

			/***************************************************************************************************
			 * 特徴修正チェック
			 */
			#identity_check {
				top: 176px;
				left: 626px;
			}

			/***************************************************************************************************
			 * どうぶつの特徴
			 */
			#identity {
				top: 234px;
				left: 356px;
				width: 246px;
				height: 112px;
				line-height: 28px;
				padding: 0px;
			}

			/***************************************************************************************************
			 * 大きさ
			 */
			#size {
				top: 237px;
				left: 619px;
				width: 76px;
				text-indent: 28px;
			}
		    // @-moz-document url-prefix() {
			// 	#size {
			// 		top: 237px;
			// 		left: 619px;
			// 		width: 76px;
			// 		text-indent: 12px;
			// 	}
			// }

			/***************************************************************************************************
			 * 得意なこと・苦手なこと
			 */
			@for $i from 1 through 3 {
				#special_ability_#{$i} { top: 442px + (38px * ($i - 1)); }
			}
			@for $i from 1 through 3 {
				#weak_ability_#{$i} { top: 651px + (38px * ($i - 1)); }
			}
			// #special_ability_1 { top: 442px; }
			// #special_ability_2 { top: 480px; }
			// #special_ability_3 { top: 518px; }
			// #weak_ability_1 { top: 651px; }
			// #weak_ability_2 { top: 689px; }
			// #weak_ability_3 { top: 727px; }

			/***************************************************************************************************
			 * キラキラ
			 */
			#shine {
				top: 464px;
				left: 348px;
				width: 156px;
				padding-left: 60px;
			}

			/***************************************************************************************************
			 * キラキラ最大値
			 */
			#shine_max {
				top: 497px;
				left: 465px;
				width: 40px;
				/*padding-top: 10px;*/
			}

			/***************************************************************************************************
			 * げんき
			 */
			#health_max{
				top: 354px;
				left: 613px;
				width: 55px;
				padding-left: 18px;
			}

			#health {
				top: 400px;
				left: 570px;
				width: 100px;
				padding-left: 40px;
			}

			/***************************************************************************************************
			 * ジャパリコイン
			 */
			#coin {
				top: 480px;
				left: 533px;
				width: 120px;
				padding-left: 60px;
			}

			/***************************************************************************************************
			 * アイテム
			 */
			.item_name {
				top: 567px;
				width: 107px;
				height: 27px;
				text-align: center;
			}
			textarea.item_effect {
				top: 595px;
				width: 107px;
				height: 76px;
			}
			@for $i from 1 through 3 {
				.item_#{$i} { left: 363px + (118px * ($i - 1)); }
			}
			// .item_1 { left: 363px; }
			// .item_2 { left: 481px; }
			// .item_3 { left: 598px; }

			button#itemEraser {
				display: none;
				background-color: darkred;
				color: white;
				font-size: 16px;
				padding: 1px 2px;
				margin: 0;
				opacity: 0.4;
				width: max-content;

				&:hover {
					opacity: 1;
				}

				* {
					position: relative;
				}
			}

			ul#presetItems {
					 	  user-select: none;
					  -ms-user-select: none;
					 -moz-user-select: -moz-none;
				   -khtml-user-select: none;
				  -webkit-user-select: none;
				-webkit-touch-callout: none;
				display: none;
				list-style-type: none;
				overflow-y: auto;
				margin: 3px 0 0 0;
				padding: 0;
				max-height: 150px;
				background-color: white;
				box-shadow: 3px 3px 5px #b4b4b4;
				border: 1px solid #bdbdbd;
				width: max-content;

				li {
					position: relative;
					margin: 0;
					padding: 2px 4px;
					cursor: pointer;

					&:hover {
						background-color: #7c7c7c;
						color: white;
					}
				}
			}

			/***************************************************************************************************
			* 覚醒ポイント
			*/
			#KP {
				top: 727px;
				left: 352px;
				width: 157px;
				padding-left: 74px;
			}

			/***************************************************************************************************
			* 野生解放
			*/
			#wild_burst {
				top: 696px;
				left: 627px;
				width: 50px;
				text-indent: 10px;
			}
			// @-moz-document url-prefix() {
			// 	#wild_burst {
			// 		top: 696px;
			// 		left: 627px;
			// 		width: 40px;
			// 		text-indent: 5px;
			// 	}
			// }

			#KP_check {
				top: 737px;
				left: 657px;
			}

			/***************************************************************************************************
			* スキル名
			*/
			#skill_name {
				top: 834px;
				left: 367px;
				width: 199px;
				height: 39px;
			}

			/***************************************************************************************************
			* スキルタイプ
			*/
			#skill_type {
				top: 834px;
				left: 579px;
				width: 135px;
				height: 39px;
				text-align: center;
			}

			/***************************************************************************************************
			* スキル効果
			*/
			#skill_effect {
				top: 882px;
				left: 392px;
				width: 300px;
				height: 72px;
			}

			/***************************************************************************************************
			* スキル演出
			*/
			#skill_role {
				top: 952px;
				left: 424px;
				width: 290px;
				height: 28px;
			}

			/***************************************************************************************************
			* PL
			*/
			#player {
				top: 998px;
				left: 376px;
				width: 168px;
				height: 22px;
			}

			/***************************************************************************************************
			* フレンズリスト
			*/
			.checkbox.friends {
				left: 275px;
				margin-top: 4px;
			}
			@for $i from 1 through 6 {
				.friends_#{$i} { top: 834px + (36px * ($i - 1)); }
			}

			// .friends_1 { top: 834px; }
			// .friends_2 { top: 870px; }
			// .friends_3 { top: 906px; }
			// .friends_4 { top: 942px; }
			// .friends_5 { top: 978px; }
			// .friends_6 { top: 1014px; }

			/***************************************************************************************************
			* メダル
			*/
			.medal {
				top: 1030px;

				@for $i from 1 through 6 {
					&.medal#{$i} {
						left: 397px + (34.5 * ($i - 1));
						transform: rotate(random(50deg) - 20deg);
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1000px){
	.tool_switch_small_screen{
		display: block;
	}

	div#content_wrapper {
		div#render_space {
			margin: 0;

			article#contents {
				margin: 0 auto 0;
			}
		}

		div#tool_box {
			visibility: hidden;
			width: 100%;
			padding: 20px;
			background-color: rgba(145, 152, 221, 0.8);
			border-radius: 10px;
			opacity: 0;
			@include applyTransit(opacity 0.2s linear, visibility 0.2s linear);

			&.show{
				visibility: visible;
				opacity: 1;
				@include applyTransit(opacity 0.2s linear, visibility 0.2s linear);
			}
	
			ul#tool_list {
				margin: 0px;

				li {
					width: 70%;
					max-width: 500px;

					input#share_url {
						width: auto;
					}

					input[type=text]{
						width: 80%;
					}
				}
			}
		}
	}

	button {
		&#tool_close{
			position: absolute;
			top: 10px;
			right: 20px;
			color: #474747;
			background-color: #ffffff;

			&:hover{
				background-color: #dddddd;
			}
		}

		&#tool_menu {
			position: fixed;
			right: 1.3em;
			top: 20px;
			transform-origin: right;
			transform: rotate(-90deg);
			background-color: #535353;
			color: white;

			&:hover {
				background-color: #858585;
			}
		}
	}
}

input {
	background-color: transparent;
	border: none;

	&[type=radio] {
		width: 1px;
		height: 1px;
		display: none;
	}

	&[type=text] {
		height: 33px;
		background-color: transparent;
		border-top-width: 1px;
		border-left: none;
		border-right: none;
		border-bottom: none;

		&.friends {
			left: 74px;
			width: 198px;
			height: 30px;
		}
	}

	&.ability {
		left: 83px;
		width: 215px;
	}
}

.arrow {
	display: block;
	top: 250px;
	width: 14px;
	height: 20px;
	background-size: 14px 20px;
	opacity: 0.5;
	display: none;

	&:hover {
		opacity: 1;
	}

	&.left {
		top: 230px;
		width: 14px;
		height: 20px;
		background-size: 14px 20px;
		left: 50px;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAUCAYAAAC9BQwsAAABBklEQVQ4jZ3TPWqEQBTA8XHGeeMo7Pg1oqCNhICwhdh4gT2ApNoDCLmE3Xam9SapcpIUIeQAS0hCilRhU80iu6vr5A9T/pp57yG0MCnlFgD2ALCXUjZXQdu2WAjxgBA6qMcYe5tFRVG4nPOnMUIIHYQQP5Moz/M1pfT1FM3CIAgaQsj3JXQR9n2PhRA7wzB+p9AZrOt65TjO4xw4g0mS3ADA8xJ0hHEcb0zT/FqKjtCyrBcdpCCenMeVsOu694SQz3/pNE1vtT9HVVXVyrZtvXGohmHAnufttKEqiqI7rZUbl2XZGgD0llxVlqX+Wam6rjNPD5lzPn/I43zf3zLG3imlH2EYNn/WlKQqLaFhuwAAAABJRU5ErkJggg==');
	}

	&.right {
		top: 230px;
		width: 14px;
		height: 20px;
		background-size: 14px 20px;
		left: 70px;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAUCAYAAAC9BQwsAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEKSURBVDhPYxAREQlgZWV9z87O/lZISCiCgVjAycl5H0j9h2F+fv7umpoaFpAcXgBU+B1IwTWCMNCwnQYGBgJANm6ATSMIs7Gx3ZWVldUBsrEDXBpBmJmZ+bOYmFgQkI0J8GmEYUFBweYpU6YwAdkIQIxGEObi4tpsZGTEB2RDALEaQRjo7+syMjJqQDZpGkEY6O/3EhISTiRrBGEODo7bqB4mAZCskYWF5ZOAgEAmyYEjKSmpAmQTHzjc3Nybzc3NiY8ORkbGv0A1zV1dXcQnAFCSExYWDgCyMQEujcA8eldJSYm0RA7KVpqamvizFTDnY2TklJQUwtEkKioaAAzm1yAMZBNZdDAwAADjOqQqIyLXuAAAAABJRU5ErkJggg==');
	}

	&.up {
		top: 233px;
		width: 20px;
		height: 14px;
		background-size: 20px 14px;
		left: 93px;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAOCAYAAAAvxDzwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEVSURBVDhPYyAEJCQknDg4OG6DMJDtAhUmD8jIyKgxMzO/BzL/gzALC8tHSUlJFbAkqcDIyIiPjY3tOpAJNgyGQWLm5uZ8QDbxYMqUKUxcXFybgUwUw2CYm5t7c1dXFxOQTRwQFBRsBlJYDYNhfn5+kBrCQExMLAhIYTUEGTMyMv4VFhYOALJxA1lZWR1gJHwGMrEago5BapWUlHSAbExgYGAgAAzwu0AmVs24MCsr611NTU0BIBsBampqWDg5OXcCmVg1EcIgvSkpKYhIAgZwN5DCqphYDDWDgUFISCgCJkgpFhUVjWBgZ2d/i02SHAyMg9dM//79Iz6BEgEYRUREAr5+/doPNF0CKkYW+PHjxws+Pr5CAAjAoJj+/6VUAAAAAElFTkSuQmCC');
	}

	&.down {
		top: 233px;
		width: 20px;
		height: 14px;
		background-size: 20px 14px;
		left: 116px;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAOCAYAAAAvxDzwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAERSURBVDhPYxQVFQ349OlTPwcHhwQDBeDXr18vuLm5CxnY2NheA/n/qYFZWVnfMwEZVANMTEz/mPj5+XOhfIoB0MvZYAbQ0G4ghdUbxGKoGRCQkpLCxMnJuRPIxKqYEAbprampYQGyEUBTU1MAGKh3gUysmnBhYKTeNTAwEACyMYGSkpIOMzPzZyATq2Z0DFIrKyurA2TjBsLCwgGMjIx/gUyshiBjMTGxICBNGAADuBlIYTUEhgUFBUFqiANdXV1MwCSwGcjEahgXF9fmKVOmkJaGzc3N+YABfh3IRDEMJGZkZMQHZJMOJCUlVVhYWD4CmWDDgJHwXkZGRg0sSS6QkJBwARYct0EYyHaCCuMADAwA2R2MrpMQooUAAAAASUVORK5CYII=');
	}
}

label.radio {
	top: 16px;

	&:before {
		content          : '';
		display          : block;
		width            : 17px;
		height           : 17px;
		border-radius    : 100%;
		position         : absolute;
		/*
		top              : 2px;
		left             : 2px;
		*/
		z-index          : 1;
	}

	&:hover {
		cursor:pointer;
	}
}

#back-normal {
	left: 20px;

	&:before {
		background-color : rgb(219,105,1);
	}
}

#back-pink {
	left: 45px;

	&:before {
		background-color : rgb(251,77,86);
	}
}

#back-blue {
	left: 70px;

	&:before {
		background-color : rgb(87,146,160);
	}
}

#back-green {
	left: 95px;

	&:before {
		background-color : rgb(54,175,71);
	}
}

#back-black {
	left: 120px;

	&:before {
		background-color : rgb(141,141,141);
	}
}

#overlay {
	width: 100%;
	height: 100%;
	text-align: center;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
	background: rgba(0,0,0,0.7);
	@include applyTransit();

	div#overlay_content {
		border: 2px dashed orange;
		border-radius: 10px;
		box-shadow: 0px 0px 0px 8px white;
		background-color: white;
		padding: 25px;

		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;

		vertical-align: middle;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 80%;
		max-width: 640px;
		height: 80%;
		max-height: 240px;
		font-weight: bold;
		// color: white;
	}

	.loading-text {
		position: relative;
		top: 10px;
		left: -30px;
		@include animation(loadingIconOpacity 1s infinite ease-in-out both);
	}
}

.loading-icon-container {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 5;

	.loading-icon-animatable {
		width: 40px;
		height: 35px;
		-webkit-transform-origin: 51% 65%;
			-ms-transform-origin: 51% 65%;
				transform-origin: 51% 65%;
		// background-color: #e97e40;
		background: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="0.9in" height="0.788889in" viewBox="0 0 81 71"%3E%3Cpath fill="#e97e40" d="M 10.64,2.76 C 0.89,12.38 11.03,21.24 11.25,21.44 11.13,21.62 6.06,30.25 5.31,36.38 4.56,42.50 4.30,52.19 10.53,59.96 22.62,75.04 51.58,68.09 50.25,44.88 49.66,34.50 38.86,32.37 33.94,36.88 30.25,40.26 31.96,46.47 29.75,48.19 27.72,49.77 25.11,47.66 24.38,45.81 22.27,40.50 26.79,32.66 31.02,29.65 37.99,24.67 46.68,25.38 52.90,31.21 57.63,35.65 59.25,42.75 57.49,49.00 56.32,53.19 51.59,58.17 54.63,64.00 57.85,70.20 66.37,69.68 71.06,65.13 76.37,59.98 78.32,50.22 77.91,43.00 77.25,31.52 73.63,24.74 71.91,22.52 72.96,20.71 79.70,8.65 71.91,3.30 64.39,5.87 60.94,9.19 57.63,10.50 42.38,3.63 28.94,8.25 24.34,10.03 18.59,8.22 17.24,4.63 10.64,2.76 Z" /%3E%3C/svg%3E') no-repeat;
		background-size: cover;
		@include animation(loadingIconRotate 1s infinite ease-in-out both, loadingIconScale 1s infinite ease-in-out both);
		-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
	}
}

#target_browser,
#target_browser * {
	font-size: 12px;
}

#author,
#author *,
#using,
#using *,
#history,
#history * {
	font-size: 14px;
}

.waitForReady {
	visibility: hidden;
	opacity: 0;
	@include applyTransit();
}



.cssload-thecube {
	width: 17px;
	height: 17px;
	margin: 5px auto 0;
	/* margin-top: 11px; */
	position: relative;
	        transform: rotateZ(45deg);
	     -o-transform: rotateZ(45deg);
	    -ms-transform: rotateZ(45deg);
	   -moz-transform: rotateZ(45deg);
	-webkit-transform: rotateZ(45deg);

	.cssload-cube {
		float: left;
		width: 50%;
		height: 50%;
		position: relative;
			    transform: rotateZ(45deg) scale(1.1);
			 -o-transform: rotateZ(45deg) scale(1.1);
			-ms-transform: rotateZ(45deg) scale(1.1);
	       -moz-transform: rotateZ(45deg) scale(1.1);
		-webkit-transform: rotateZ(45deg) scale(1.1);

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgb(255,255,255);
			@include animation(cssload-fold-thecube 2.28s infinite linear both);
			        transform-origin: 100% 100%;
				 -o-transform-origin: 100% 100%;
				-ms-transform-origin: 100% 100%;
			   -moz-transform-origin: 100% 100%;
			-webkit-transform-origin: 100% 100%;
		}
	}

	@for $i from 1 through 4 {
		.cssload-c#{$i} {
					transform: scale(1.1) rotateZ(90deg * ($i - 1));
				 -o-transform: scale(1.1) rotateZ(90deg * ($i - 1));
				-ms-transform: scale(1.1) rotateZ(90deg * ($i - 1));
			   -moz-transform: scale(1.1) rotateZ(90deg * ($i - 1));
			-webkit-transform: scale(1.1) rotateZ(90deg * ($i - 1));

			&:before {
						animation-delay: 0.285s * ($i - 1);
					 -o-animation-delay: 0.285s * ($i - 1);
					-ms-animation-delay: 0.285s * ($i - 1);
				   -moz-animation-delay: 0.285s * ($i - 1);
				-webkit-animation-delay: 0.285s * ($i - 1);
			}
		}
	}
}

@include keyframes(cssload-fold-thecube){
	0%, 10% {
		transform: perspective(31px) rotateX(-180deg);
		opacity: 0;
	}
	25%, 75% {
		transform: perspective(31px) rotateX(0deg);
		opacity: 1;
	}
	90%, 100% {
		transform: perspective(31px) rotateY(180deg);
		opacity: 0;
	}
}

@include keyframes(loadingIconScale){
	50%{
		width: 26px;
		height: 21px;
    }
}

@include keyframes(loadingIconOpacity){
	50% {
		opacity: 0.3;
	}
}

@include keyframes(loadingIconRotate) {
	from {
	  	-webkit-transform: rotateZ(0deg);
			    transform: rotateZ(0deg);
	}
	to {
	  	-webkit-transform: rotateZ(-720deg);
			    transform: rotateZ(-720deg);
	}
}
